<%- include("partials/navbar.ejs") %>
    
    <img src="images/background2.jpg" alt="Resim Bulunamadı" class="image1">
    <div class="wrapper" style="display: flex; align-items: center; justify-content: center; text-align: center; height: 75vh;">
        <p style="display: none;" id="paragraph">
            As …. team we believe in the power of effective learning. By creating this educational website, we wanted to
            offer an enjoyable and effective learning experience for people who want to learn English or improve their
            skills in the language. Each level has suitable vocabulary, reading, writing, listening, and speaking skills
            activities. Since it is a brand-new website, your comments and suggestions are very important to us. If you
            want to share your comments or suggestions with us, please feel free to contact us through
            our e-mail address.
        </p>
    </div>
    <script>
        $(document).ready(function() {
        var paragraph = $("#paragraph");
        paragraph.fadeIn(1000);
    });
    </script>
    </body>

    </html>