<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Example</title>
</head>

<body>
<div class="container">
    <%- include("partials/navbar.ejs") %>
    <img src="/images/background2.jpg" alt="Resim Bulunamadı" class="image1">
    <div class="animation">
        <div class="box">
            <span>Welcome to Our Website. Before you start learning English, please determine your level. </span>
        </div>
        <img src="/images/canavar.png" alt="Resim Bulunamadı" class="image2">
    </div>

    <div class="levels" style="margin-top: 90px;">
        <a href="/beginner">Beginner</a>
        <a href="#">Elementary</a>
        <a href="#">Pre-Intermediate</a>
        <a href="#">Intermediate</a>
        <a href="#">Advanced</a>
    </div>
    


</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

</html>

    
    
    

