<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/profile.css">
</head>

<body>
    <img src="/images/background2.jpg" alt="Resim Bulunamadı" class="image1">

    <div class="profile-box">
        <div class="ortala">
            <img src="/images/canavar.png" alt="Resim Bulunamadı" class="image2" style="display: block;">
        </div>
        <div class="ortala">
            <div class="user-detail">
                <h1>Username</h1>
                <p><%= username %></p>
                <h1>E-mail</h1>
                <p><%= email %></p>
                <h1>Password</h1>
                <p><%= password %></p>
                <h1>Current Level</h1>
                <p><%= level %></p>
                <h1>Achivements</h1>
                <p>0 &#x1F3C6;/10</p>
                <a href="/main" id="closingtag">Close</a>
            </div>
        </div>
    </div>
</body>

</html>